@import '../_constants.scss';

.main-container {
  display: block;
  flex-direction: column;
  position: fixed;
  top: 0;
  margin-left: 4rem;
  padding: 2rem 0.5rem;
  width: 20%;
  height: 100vh;
  z-index: 5;
  border: 1px solid hsl(0, 0%, 86%);

  .header-container {
    .alramList {
    }
  }
}
