.clickEventGrey {
  cursor: pointer;
  background-color: #f7f7f7;
}
.clickEventGrey:hover {
  background-color: #d7d7d7;
}
.clickEventGrey:active {
  background-color: #b7b7b7;
}

.action:hover {
  cursor: pointer;
  transform: translateY(-5px);
  transition: 0.2s;
}
.action:active {
  transform: translateY(0);
}

.btn-go-top {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  position: fixed;
  width: 2.5rem;
  height: 2.5rem;
  bottom: 3rem;
  right: 5rem;
  background-color: #eaeaea;
}

.btn-submit {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  height: 2.5rem;
  background-color: #12b886;
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 700;
  padding-inline: 1.5rem;
}
.btn-submit:hover {
  background-color: #20c997;
}
.btn-submit:active {
  background-color: #12b886;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.contour {
  background: #e9ecef;
  width: 100%;
  height: 1px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.separator {
  margin-inline: 0.5rem;
}

.main-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding-top: 3rem;
}
.main-container .profile-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 14em;
  height: fit-content;
  padding: 1.5rem;
  gap: 1rem;
  border: 3px dotted #b7b7b7;
  border-radius: 20px;
}
.main-container .profile-container .profile-img {
  margin: auto;
  width: 10rem;
  height: 10rem;
}
.main-container .profile-container .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.main-container .profile-container .profile-box .nickname {
  font-size: 1.6rem;
  font-weight: bolder;
}
.main-container .profile-container .profile-box .intro {
  font-size: 1rem;
}
.main-container .post-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  width: 50%;
  height: auto;
  margin: auto 2rem;
}
.main-container .post-container .post-box {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #b7b7b7;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}
.main-container .post-container .post-box .post-preview-img {
  width: 100%;
  height: 70%;
}
.main-container .post-container .post-box .post-preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.main-container .post-container .post-box .post-title {
  font-size: 1.4rem;
  font-weight: bolder;
  margin: 0.5rem 0;
}
.main-container .post-container .post-box .post-contents {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 1rem;
}
.main-container .post-container .post-box .post-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
  height: 1rem;
}
.main-container .post-container .post-box .post-info .post-time,
.main-container .post-container .post-box .post-info .post-comments {
  font-size: 0.8rem;
  color: #b7b7b7;
}

/*# sourceMappingURL=Mypage.css.map */
