$d1: #f7f7f7;
$d2: #d7d7d7;
$d3: #b7b7b7;
$green: hsla(160, 100%, 37%, 1);

.clickEventGrey {
  cursor: pointer;
  background-color: $d1;
  &:hover {
    background-color: $d2;
  }
  &:active {
    background-color: $d3;
  }
}
