@import './_base.scss';

#app {
  width: 100vw;
  height: 100vh;
  margin: auto;

  display: flex;
  font-weight: normal;
  align-items: center;
  justify-content: center;
}

a,
div,
.green {
  text-decoration: none;
  color: black;
}
